STORAGE_DIR=./storage
MAX_DURATION_POLICY_SECONDS=3600
MIN_DURATION_SECONDS=1
MOCK_MODE=false
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe
DEFAULT_FPS=25
DEFAULT_RESOLUTION=720x720
MAX_SEGMENT_SECONDS=5
SAMPLE_RATE=22050

PIPER_MODEL_PATH=./models/piper/en_US-lessac-medium.onnx
PIPER_CONFIG_PATH=./models/piper/en_US-lessac-medium.onnx.json
WAV2LIP_CKPT_PATH=./models/wav2lip/checkpoint_v2.pt
WAV2LIP_REPO_PATH=./external/wav2lip