STORAGE_DIR=./storage
MAX_DURATION_POLICY_SECONDS=3600
MIN_DURATION_SECONDS=1
MOCK_MODE=true
FFMPEG_BIN=ffmpeg
FFPROBE_BIN=ffprobe
DEFAULT_FPS=30
DEFAULT_RESOLUTION=1280x720
MAX_SEGMENT_SECONDS=10
SAMPLE_RATE=24000
ALLOW_BURN_SUBTITLES=false